/* imports  */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* general */
body
{
    background-color: rgb(20,20,20);
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

a
{
    color: rgb(200,200,200);
    text-decoration: none;
    z-index: 1;
}

a:hover
{
    color: rgb(102, 112, 233);
    text-decoration: underline;
}

table, th, td
{
    border: 3px solid black;
    border-collapse: collapse;
    padding: 50px;
}

.rainbowHome
{
    /* positioning */
    position: relative;
    top: 100px;
    /* margin */
    margin: auto;
    z-index: 0;
    /* sizing */
    width: 300px;
    height: 300px;
    /* borders */
    border-radius: 50%;
    /* colors */
    background-image: linear-gradient(red, yellow, green, purple, blue);
    filter: blur(10px);
    /* animation */
    animation: homeRainbow infinite 1s linear;

}
@keyframes homeRainbow 
{
    from {filter: hue-rotate(0deg); transform: rotate(0deg); filter: blur(14px);}
    to {filter: hue-rotate(360deg); transform: rotate(360deg); filter: blur(14px);}
}

.rainbowUpperZOrderElement
{
    position: relative;
    display: flex;
    margin: auto;
    top: -190px;
    z-index: 5;
    font-family: cursive;
    background-color: rgb(20,20,20);
    border-radius: 50%;
    width: 290px;
    height: 290px;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.contentTitle
{
    font-size: 75px;
    color: rgb(122, 132, 253);
}

.frmCheckbox
{
    margin-top: 20px;
    margin-bottom: 20px;
    transform: scale(3);
}

.button
{
    /* sizing */
    height: 50px;
    font-size: 40px;
    /* margins */
    margin: 20px;
    /* borders */
    border: solid;
    border-color: black;
    border-radius: 0px;
    /* colors + font */
    font-family: 'Roboto-thin', sans-serif;
    color: black;
    background-color: rgb(102, 112, 233);
    /* animation */
    transition: all 0.2s;
}
.button:hover
{
    /* sizing */
    height: 70px;
    font-size: 50px;
    /* margins */
    margin: 20px;
    /* borders */
    border: solid;
    border-color: black;
    border-radius: 50px;
    /* colors + font */
    font-family: 'Roboto-thin', sans-serif;
    color: white;
    background-color: rgb(142, 152, 273);
    /* animation */
    transition: all 0.2s;
}

.frmTxtField
{
    font-size: 50px;
}

.formComponent
{
    font-size: 50px;
    /* display */
    display: grid;
    /* margins */
    margin: auto;
    /* sizing */
    width: 50%;
    /* colors */
    background-color: rgb(30,30,30);
}

#navContainer
{
    height: 50px;
    background-color: black;
    color: rgb(200,200,200);
    display: flex;
}

.navFlexItem
{
    /* border styling */ 
    border-style: solid;
    border-color: rgb(10, 10, 10);
    font-size: 40px;
    flex: auto;
    text-align: center;
    transition: all 0.2s;
}

.navFlexItem:hover
{
    /* border styling */ 
    border-style: solid;
    border-color: rgb(10, 10, 10);
    /* sizing */
    height: 120px;
    font-size: 100px;
    /* coloring */ 
    background-color: rgb(20,20,20);
}

.mainContentDiv
{
    margin-top: 100px;
    display: flex;
}

.leftSegment
{
    flex: 10%;
    text-align: center;
    color: white;
    background-color: rgb(20,20,20);
}

.mainSegment
{
    flex: 90%;
    text-align: center;
    /* colors */
    color: white;
    background-color: rgb(26,26,26);
}

.rightSegment
{
    flex: 10%;
    text-align: center;
    color: white;
    background-color: rgb(20,20,20);
}

/* Follow up */
#frmFollowUp
{
    /* display */
    display: grid;
    /* margins */
    margin: auto;
    /* sizing */
    width: 50%;
    /* colors */
    background-color: rgb(30,30,30);
}

#tableFollowUp
{
    margin: auto;
}

.formContainer
{
    display: flex;
}

/* Reminder */
#currentTimeDisplay
{
    /* positioning */
    position: absolute;
    top: 85px;
    left: 40.7%;
    z-index: -1;
    /* sizing */
    font-size: 30px;
    /* colors */
    color: crimson;
}